* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
  list-style: none;
}

body {
  font-family: verdana;
  background: #a0a5b8;
}

nav {
padding: 0;
background: #404258;
height: 40px;
width: 100%;
}

label.logo{
  color: white;
  font-size: 24px;
  font-weight: bolder;
  line-height: 40px;
  padding: 0 25px;
}
nav ul{
  float: right;
  margin-right: 50px;
}
nav ul li{
  display: inline-block;
  line-height: 40px;
  margin: 0 5px;
  font-weight: bold;
}
nav ul li a{
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}
a.class, a:hover{
  background: #50577A;
  transition: .5s;
}


